<div class="side-panel">

  <div class = "user-info">
    <img class = "userImg" src = "https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt = "currUserImg"/>
  </div>

  <h3 style="color:rgb(0,128,254)">Hritik Sharma</h3>

  <div class = "panel-btns">
    <button><fa-icon [icon]="faHouse"></fa-icon>  Home</button><br>
    <button><fa-icon [icon]="faCompass"></fa-icon>  Explore</button><br>
    <button><fa-icon [icon]="faUser"></fa-icon>  Profile</button><br>
    <button><fa-icon [icon]="faSearch"></fa-icon>  Search</button><br>
    <button><fa-icon [icon]="faPlus"></fa-icon>  Create</button>
    <button><fa-icon [icon]="faMessage"></fa-icon>  Messages</button><br>
    <button><fa-icon [icon]="faBell"></fa-icon>  Notification</button><br>

  </div>
  
  <button style="background-color: rgb(0,128,254);width: 70%;margin-left:20%;">Logout</button>
  <!-- <ul class="side-panel-list">

    <li><a href="#">Home</a></li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Explore</a></li>
    <li><a href="#">Message</a></li>
    <li><a href="#">Notification</a></li>
    <li><a href="#">Create</a></li>
    <li><a href="#">Profile</a></li>
  </ul> -->
</div>
