<div class="post-card">
    <div class="user-info">
      <img [src]="userImg" alt="User Avatar">
      <span class="username">{{username}}</span>
    </div>
    <div class="post-image">
      <img [src]="postImage" alt="Post Image">
    </div>
    <div class="actions">
      <fa-icon [icon]="faHeart"></fa-icon>
      <fa-icon [icon]="faComment"></fa-icon>
      <fa-icon [icon]="faShare"></fa-icon>
    </div>
    <div class="likes-count">
      <span>{{likes}} likes</span>
    </div>
    <div class="caption">
      <p>{{caption}}</p>
    </div>
</div>
  