.stories-content {
    display: flex;
    gap: 10px; 
    align-items: center; 
    overflow: auto;
    background-color: rgb(0,0,0,0.05);
    overflow-y: scroll;
  }

  .stories {
    overflow: hidden;
    position: relative;
  }
  
  .stories-content::-webkit-scrollbar {
    width: 0;
  }